<nav class="cyan  lighten-1">
   <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 12px;font-size: 27px;">  Data Cloud Management</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="font-size: 13px !important;">
         <li><a routerLink="/home" routerLinkActive="active"><i class="material-icons left">store</i>Home</a></li>
         <li id="clusterEnable1" style="display:none"><a routerLink="/admin" routerLinkActive="active"><i class="material-icons left">perm_identity</i>Administration</a></li>
         <li id="clusterEnable2" style="display:none"><a routerLink="/ingestion" routerLinkActive="active"><i class="material-icons left">perm_identity</i>Data Management</a></li>
         <li id="clusterEnable3" style="display:none"><a routerLink="/visualizations" routerLinkActive="active"><i class="material-icons left">visibility</i>Visualizations</a></li>
         <li><a href="collapsible.html"><i style="font-size: 20px;" class="fa fa-2x fa-bell" aria-hidden="true"></i></a></li>
         <!-- <li><a href="collapsible.html"><i class="material-icons left">perm_identity</i>User</a></li> -->
         <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">perm_identity</i>User<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
   </div>
</nav>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
   <li><a href="#!">one</a></li>
   <li><a href="#!">two</a></li>
</ul>