<div id="platformSelection">
   <div class="" style="margin-top:-20px;height:112px;width:100%;">
      <p class="white-text" style="font-size:20px;margin:20px;">Select Platform
      </p>
   </div>
   <div class="container" style="margin-top: -80px;">
      <div class="card" style="min-height: 100px;">
         <div class="row" style="margin-left: 1%;margin-right: 1%;margin-top: 41px;">
            <div class="col s12" >
               <!--<div class="card " id="creation_type">-->
               <div class="card-content" style="margin-left: 80px;">
                  <span style="margin-left: -59px;font-size: 18px;">Select a Cloud Platform</span>
                  <h5 class='divider' style="margin-left: -8%;margin-right: 1%"></h5>
                  <div class="row">
                     <div class="col s4"><img id="azure" class="cursor" src="assets/images/azure.png" (click)="showDashBoard($event)"></div>
                     <div class="col s4"><img id="amazonPlatfrom" class="cursor" src="assets/images/amazonPlatfrom.png" (click)="showDashBoard($event)"  style="margin-top: 12px;width: 206px;height: 101px;"></div>
                     <div class="col s4"><img id="googleCloud" class="cursor" src="assets/images/googleCloud.png" (click)="showDashBoard($event)"  style="margin-top: 28px;width: 240px;"></div>
                  </div>
                  <div class="row">
                     <div class="col s4"><img id="IBM" class="cursor" src="assets/images/IBM.png" (click)="showDashBoard($event)" style="margin-top: 7px;width: 210px;margin-left: -9px;" ></div>
                     <div class="col s4"><img  id="oracle" class="cursor" src="assets/images/oracle.png" (click)="showDashBoard($event)" style="width: 202px;height: 97px;margin-top: 12px;"></div>
                     <div class="col s4"><img id="rackSpace" class="cursor" src="assets/images/rackSpace.png" (click)="showDashBoard($event)"  style="margin-top: 15px;width: 240px;"></div>
                  </div>
               </div>
               <!--</div>-->
            </div>
         </div>
      </div>
   </div>
</div>
